@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #89BBCD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#heading {
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 2.5rem;
}
/* from medium screen */
@media only screen and (min-width:900px){
  #heading {
    font-size:3rem;
  }
}
/* from large screen */
@media only screen and (min-width:1200px){
  #heading {
    font-size:3.5rem;
  }
}
/* from xl screen */
@media only screen and (min-width:1536px){
  #heading {
    font-size: 4rem;
  }
}
.cursor {
  cursor: pointer;
}
